// Estilo para a caixa da legenda
.info.legend {
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.9); // Fundo branco semi-transparente
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 24px;
  color: #333;

  h4 {
    margin: 0 0 8px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }

  div {
    display: flex;
    align-items: center;
  }

  img {
    width: 18px;
    height: 29px; // Proporção correta para os marcadores
    margin-right: 8px;
  }
}